{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "Integration Test Template",
	"Resources": {
		"UserTagAndUserDataInstance": {
			"Type": "AWS::EC2::Instance",
			"Properties": {
				"DisableApiTermination": "FALSE",
				"ImageId": "ami-6a56b81d",
				"UserData": {
					"Fn::Base64": "data1=value1;data2=value2"
				},
				"InstanceType": "m1.small",
				"Tags": [
					{
						"Key": "tag1",
						"Value": "tagv1"
					},
					{
						"Key": "tag3",
						"Value": "tagv3"
					},
					{
						"Key": "tag2",
						"Value": "tagv2"
					},
					{
						"Key": "tag4",
						"Value": "tagv4"
					}
				]
			}
		},
		"RdsSingleMicroInstance": {
			"Type": "AWS::RDS::DBInstance",
			"Properties": {
				"AllocatedStorage": "5",
				"DBInstanceClass": "db.m1.small",
				"DBName": "test",
				"Engine": "mysql",
				"MasterUsername": "admin",
				"MasterUserPassword": "secret23",
				"Port": "3306",
				"DBSecurityGroups": [
					{
						"Ref": "AllowAllGroup"
					}
				]
			}
		},
		"RdsSingleMicroInstanceReplicaInstance": {
			"Type": "AWS::RDS::DBInstance",
			"Properties": {
				"SourceDBInstanceIdentifier": {
					"Ref": "RdsSingleMicroInstance"
				},
				"DBInstanceClass": "db.m1.small"
			}
		},
		"AllowAllGroup": {
			"Type": "AWS::RDS::DBSecurityGroup",
			"Properties": {
				"GroupDescription": "default",
				"DBSecurityGroupIngress": [
					{
						"CIDRIP": "0.0.0.0/0"
					}
				]
			}
		},
		"EmptyBucket": {
			"Type": "AWS::S3::Bucket"
		},
		"PathMatcherBucket": {
			"Type": "AWS::S3::Bucket"
		},
		"PathMatcherBucket01": {
			"Type": "AWS::S3::Bucket"
		},
		"PathMatcherBucket02": {
			"Type": "AWS::S3::Bucket"
		},
		"PathMatcherBucket03": {
			"Type": "AWS::S3::Bucket"
		},
		"StringQueue": {
			"Type": "AWS::SQS::Queue",
			"Properties": {
			}
		},
		"JsonQueue": {
			"Type": "AWS::SQS::Queue",
			"Properties": {
			}
		},
		"StreamQueue": {
			"Type": "AWS::SQS::Queue",
			"Properties": {
			}
		},
		"LoadTestQueue": {
			"Type": "AWS::SQS::Queue",
			"Properties": {
			}
		},
		"QueueListenerTest": {
			"Type": "AWS::SQS::Queue",
			"Properties": {
			}
		},
		"NotificationQueue": {
			"Type": "AWS::SQS::Queue"
		},
		"SqsReceivingSnsTopic": {
			"Type": "AWS::SNS::Topic",
			"Properties": {
				"Subscription": [
					{
						"Endpoint": {
							"Fn::GetAtt": [ "NotificationQueue", "Arn" ]
						},
						"Protocol": "sqs"
					}
				]
			}
		},
		"SnsToSqsPolicy": {
			"Type": "AWS::SQS::QueuePolicy",
			"Properties": {
				"PolicyDocument": {
					"Version": "2008-10-17",
					"Id": "SnsToSqsPolicy",
					"Statement": [
						{
							"Sid": "Allow-Sns-SendMessage",
							"Effect": "Allow",
							"Principal": {
								"AWS": "*"
							},
							"Action": [ "sqs:SendMessage" ],
							"Resource": {
								"Fn::GetAtt": [ "NotificationQueue", "Arn" ]
							},
							"Condition": {
								"ArnEquals": {
									"aws:SourceArn": {
										"Ref": "SqsReceivingSnsTopic"
									}
								}
							}
						}
					]
				},
				"Queues": [
					{
						"Ref": "NotificationQueue"
					}
				]
			}
		},
		"HttpReceivingSnsTopic": {
			"Type": "AWS::SNS::Topic",
			"Properties": {
				"Subscription": [
					{
						"Endpoint": "http://notimportant.elasticspring.com/endpoint",
						"Protocol": "http"
					}
				]
			}
		},
		"CacheSecurityGroup": {
			"Type": "AWS::ElastiCache::SecurityGroup",
			"Properties": {
				"Description": "Default Security Group"
			}
		},
		"CacheSecurityGroupIngress": {
			"Type": "AWS::ElastiCache::SecurityGroupIngress",
			"Properties": {
				"CacheSecurityGroupName": {
					"Ref": "CacheSecurityGroup"
				},
				"EC2SecurityGroupName": "default"
			}
		},
		"CacheCluster": {
			"Type": "AWS::ElastiCache::CacheCluster",
			"Properties": {
				"CacheNodeType": "cache.t1.micro",
				"CacheSecurityGroupNames": [
					{
						"Ref": "CacheSecurityGroup"
					}
				],
				"Engine": "memcached",
				"NumCacheNodes": "1"
			}
		}
	},
	"Outputs": {
		"InstanceId": {
			"Value": {
				"Ref": "UserTagAndUserDataInstance"
			}
		}
	}
}