<component name="libraryTable">
  <library name="logback-classic-0.9.27">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/ch.qos.logback/logback-classic/0.9.27/jar/532f3020a0f080f1e6a835e47cc39e60dc1084dd/logback-classic-0.9.27.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/ch.qos.logback/logback-classic/0.9.27/source/11d172d02fed82eafe6083c4e1cb605915c5e14/logback-classic-0.9.27-sources.jar!/" />
    </SOURCES>
  </library>
</component>