<component name="libraryTable">
  <library name="spring-retry-1.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.retry/spring-retry/1.0.0.RELEASE/jar/cd06fdd15bc530c9ff7521a9afe3ebe1f1ee2786/spring-retry-1.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.retry/spring-retry/1.0.0.RELEASE/source/72c89aef8510b2ff489a9c8069f0169b417b752e/spring-retry-1.0.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>