<?xml version="1.0"?>
<!--
  ~ Copyright 2013-2014 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE module PUBLIC
		"-//Puppy Crawl//DTD Check Configuration 1.1//EN"
		"http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
	<module name="TreeWalker">
		<module name="MissingDeprecated" />
		<module name="MissingOverride" />
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<module name="AvoidNestedBlocks" />
		<module name="InterfaceIsType" />
		<module name="MutableException" />
		<module name="InnerTypeLast" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="InnerAssignment" />
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable" />
		<module name="StringLiteralEquality" />
		<module name="NoFinalizer" />
		<module name="RequireThis">
			<property name="checkMethods" value="false" />
		</module>
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UpperEll" />
		<module name="ArrayTypeStyle" />
		<module name="OuterTypeFilename" />
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />
	</module>
	<module name="SuppressionFilter">
		<property name="file" value="${checkstyleConfigDir}/suppression.xml" />
	</module>
</module>
